nav {
  --bs-breadcrumb-divider: ">";
  background-color: rgb(191, 191, 238);
  padding: 0.5rem;
}

.breadcrumb-item {
  padding: 0.4rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.content {
  padding: 1rem;
}
